<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>title</title>
<body>

Hi{% if user_name %} {{ user_name}}{% endif %}!

<br><br>Thank you for signing up!

<br><br>Please feel free to directly respond back to this email if you have any suggestions/feedback. Will be much appreciated.
<br><br>&mdash; Katsumoto
<br>Founder
<br><a href="">example.com</a>

<br><br><br>
<a href="mailto:hello@example.com?subject=Unsubscribe&body=Please%20unsubscribe%20me%20from%20this%20email%20list" target="_blank" style="text-decoration:underline; color:#999999;">Respond to unsubscribe</a>

</body>