{% extends "base.html" %}

{% block title %} 401 {% endblock %}
{% block content %}

<main>
    <div class="position-relative container">
        <section class="section pb-0 section-components" id="what-we-do">
	      <div class="text-center">
	        <div class="py-5 bg-secondary">
	          <div class="container">
	            <h3>401 - Sorry! You are unauthorized to view this page</h3>
	            <a class="btn btn-icon btn-3 btn-primary" href="{{ url_for('auth.login') }}" role="button">
                	<span class="btn-inner--icon"><span data-feather="key"></span>
                	<span class="btn-inner--text">Back to Login</span>
              	</a>
	          </div>
	        </div>
	      </div>
	    </section>
	</div>
</main>

{% endblock %}
