{% extends "base.html" %}

{% block title %} 400 {% endblock %}
{% block content %}

<main>
    <div class="position-relative container">
        <section class="section pb-0 section-components" id="what-we-do">
	      <div class="text-center">
	        <div class="py-5 bg-secondary">
	          <div class="container">
	            <h3>400- Oops! my bad. Something went wrong.</h3>
	            {% if reason %}
	            	<h4>{{ reason }}</h4>
            	{% endif %}
	            <a class="btn btn-icon btn-3 btn-primary" href="{{ url_for('home.index') }}" role="button">
                	<span class="btn-inner--icon"><span data-feather="home"></span>
                	<span class="btn-inner--text">Back Home</span>
              	</a>
	          </div>
	        </div>
	      </div>
	    </section>
	</div>
</main>

{% endblock %}
